body {
  padding-top: 50px;
}
.data-entry {
  padding: 20px 4px;
	position: relative;
}
.typeahead, .tt-query, .tt-hint {
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	font-size: 18px; /* Set input font size */
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 1px solid #aaaaff;
}
.tt-query {
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;*/
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	/*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 18px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #cccccc;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
.tt-cursor {
    background-color: #000000!important;
    color: #FFFFFF !important;
}

/* charts */
.axis path,
.axis line {
    stroke: #000;
    fill: none;
    shape-rendering: crispEdges;
}
.line {
    fill: none;
    stroke-width: 1.5px;
}

h1 {
    padding-left: 80px;
}

